//
// KEYS.less
//
// A simple stylesheet for rendering beautiful keyboard-style elements.
//
// Author:  Michael Hüneburg
// Website: http://michaelhue.com/keyscss
// GitHub:  https://github.com/michaelhue/keyscss
// License: MIT License (see LICENSE.txt)
//

// Base mixin:
.keycap()
{
    display: inline;
    display: inline-block;
    white-space: nowrap;
    min-width: 1em;
    padding: .3em .4em .2em .3em;

    //font: normal .85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
    font-style: normal;
    // font-size: .85em;
    // line-height: 1;
    font-family: "Lucida Grande", Lucida, Arial, sans-serif;

    text-align: center;
    text-decoration: none;
    border-radius: .3em;
    border: none;
}

.keycap-dark()
{
    .keycap();

    background: rgb(80, 80, 80);
    background: gradient(linear, left top, left bottom, from(rgb(60, 60, 60)), to(rgb(80, 80, 80)));
    color: rgb(250, 250, 250);
    text-shadow: -1px -1px 0 rgb(70, 70, 70);
    box-shadow: inset 0 0 1px rgb(150, 150, 150), inset 0 -.05em .4em rgb(80, 80, 80), 0 .1em 0 rgb(30, 30, 30), 0 .1em .1em rgba(0, 0, 0, .3);
}

.keycap-light()
{
    .keycap();

    background: rgb(250, 250, 250);
    background: gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
    color:  rgb(50, 50, 50);
    text-shadow: 0 0 2px rgb(255, 255, 255);
    box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 .4em rgb(200, 200, 200), 0 .1em 0 rgb(130, 130, 130), 0 .11em 0 rgba(0, 0, 0, .4), 0 .1em .11em rgba(0, 0, 0, .9);
}

// keys styled a la StackOverflow anno 2017
.keycap-stackoverflow()
{
    .keycap();

    margin: 0 .1em;
    padding: .1em .6em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.4;
    color: #242729;
    text-shadow: 0 1px 0 #FFF;
    background-color: #e1e3e5;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12,13,14,0.2), 0 0 0 2px #FFF inset;
}
